* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Nunito';
    overflow-x: hauto;
}

body,
html {
    height: 100%;
}

.head {
    background-image: linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)), url(./images/bg-hero.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 120%;
}

.navbar {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: fixed; */
}

.logo {
    display: flex;
    width: 20%;
    justify-content: center;
    padding: 0 15px;
    align-items: center;
    margin-left: 30px;
}

.logo>h2 {
    font-size: 40px;
    color: #FEA116;
    font-weight: bold;
    padding: 0 10px;
}

.logo>img {
    width: 40px;
    color: #FEA116;
    margin-right: 15px;
}


.menu {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    margin-right: 110px;
}

.menu>a {
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.menu>a:not(#active):hover {
    color: #FEA116;
    transition: .3s;
}

a#home {
    color: #FEA116;
    font-weight: bold;
}

.menu>#active {
    font-size: 16px;
    background-color: #FEA116;
    padding: 10px 25px;
    border-radius: 7px;
}


/* nav bar ke niche ka content */

.text-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin-top: 80px;
    height: 70%;
    width: 100%;

}

.headings {
    width: 50%;
    padding: 40px;
}

.headings>h1 {
    font-size: 4rem;
    font-weight: bold;
    color: #fff;
}

.headings>p {
    color: #fff;
    line-height: 1.5;
    /* font-size: 20px; */
}

.headings #book-now {
    background-color: #FEA116;
    font-size: 16px;

    /* font-weight: bold; */
    color: #fff;
    display: block;
    margin: 40px 0;
    padding: 15px 50px;
    border-radius: 8px;
}

#book-now:hover,
#active:hover,
#read-more-button:hover,
.form-book-now:hover {
    transition: .5s;
    background-color: #ffba53;
    cursor: pointer;
}

.header-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.header-image>img {
    width: 90%;
    display: inline-block;
    animation: roundimage 20s infinite linear;
}

.header-image>img:hover {

    animation-play-state: paused;
    cursor: pointer;
}



@keyframes roundimage {
    0% {}

    100% {
        transform: rotate(360deg);
    }
}

/* header khatam */

/* content start */

/* detail boxes */

.detail-boxes {
    margin: 150px 0;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
    /* margin-bottom: 150px; */
}

.detail-box {
    width: 22%;
    /* height: 25%; */
    box-shadow: 0 0 40px rgba(0, 0, 0, 8%);
    padding: 50px 30px;
}

.detail-box:hover {
    background-color: #FEA116;
    color: white;
    transition: .8s;
    cursor: pointer;
}

.detail-box:hover p {
    color: white;
    transition: .8s;
}

.detail-box:hover .fa {
    color: white;
    transition: .8s;
}

.detail-box:hover h2 {
    color: white;
    transition: .8s;
}


.fa {
    color: #FEA116;
    transition: .8s;
}

.detail-box>h2 {
    margin: 20px 0;
    font-size: 20px;
}

.detail-box>p {
    color: #666565;
    line-height: 1.5;
}

/* detailboxes khatam */

/* about us section */

.about-us {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px;
}

.about-us-images {
    width: 50%;
    padding: 50px;
}

.about-us-image {
    padding: 5px;
}


.image1,
.image4 {
    width: 50%;
}

.image2,
.image3 {
    width: 40%;
}

.image4 {
    width: 55%;
}

.image3 {
    margin-bottom: 15%;
    /* width: 41%; */
}

.pair2 {
    margin-left: 10%;
    /* margin-bottom: 15%; */
}

.about-us-content {
    width: 50%;
    padding: 10px 40px;
}

/* images aligned */

/* now text */

.about-us-content h5 {
    font-family: 'Pacifico', 'cursive';
    color: #FEA116;
    font-size: 30px;
    text-decoration: underline;
}

.about-us-content h1 {
    color: #0F172B;
    margin: 20px 0;
    font-size: 40px;
}

.about-us-content p {
    color: #666565;
    font-size: 16px;
    line-height: 1.3;

}

.experience-section {
    display: flex;
    margin: 40px 0;
}

.experience-data {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    border-left: 5px solid #FEA116;
}

.experience-data h2 {
    font-size: 48px;
    color: #FEA116;
    padding: 0 10px;
}

.experience-data h4 {
    font-size: 16px;
    color: #666565;
    padding: 0 10px;
}

.experience-data h4 span {

    color: black;
    font-weight: 1000;
}

#read-more-button {
    background-color: #FEA116;
    font-size: 16px;
    color: white;
    padding: 15px 40px;
    border-radius: 5px;
    font-weight: bold;
}

/* popular item section start */

.popular-item-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.popular-item-section h4 {
    color: #FEA116;
    font-family: 'Pacifico', 'cursive';
    font-size: 30px;
    text-decoration: underline;

}

.popular-item-section h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
}

.food-type {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    align-items: center;
}

.food-time {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 25px;
    border-bottom: 2px solid #666565;

}

.food-time:hover {
    background-color: #e7e7e7;
    border-bottom: 2px solid #FEA116;
    transition: .5s;
    cursor: pointer;
}

.food-time>h6 {
    font-size: 14px;
    padding: 10px;
    color: #666565;
}

.food-time>h6>span {
    font-size: 16px;
    color: #0F172B;
    font-weight: bold;
}

.foodboxes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 70px;

}

.foodbox {
    width: 45%;
    padding: 15px;
    display: flex;
    /* align-items: center; */
}

.food-detail {
    padding: 5px 20px;

}

.name-and-price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: bold;
}

.food-img {
    width: 80px;
}


.food-detail p {
    color: #666565;
    margin-top: 8px;

}

.form {
    width: 100%;
    display: flex;
    margin: 100px 0;

}

.video {
    width: 50%;
}

.video img {
    width: 100%;
    height: 100%;

}

.form-section {
    width: 50%;
    padding: 15px;
    background-color: #0F172B;
    padding: 50px;
}

.form-section h6 {
    font-size: 25px;
    font-family: 'Pacifico', 'cursive';
    color: #FEA116;
    text-decoration: underline;
    font-weight: 100;
}

.form-section h1 {
    font-size: 40px;
    color: #fff;
    font-weight: 800;
    margin-bottom: 30px;

}

.input-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* gap: 20px; */
    align-items: center;
    justify-content: center;
}

.name,
.date {
    margin-right: 10px;
}

.email,
.people {
    margin-left: 10px;
}


.input {
    width: 48%;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    height: 60px;
    border-radius: 2px;
    border: transparent;
    /* box-shadow: 0 0 0px rgba(255, 255, 255, 100%); */

}

.request {
    width: 100%;
    height: 100px;
}

.input::placeholder {
    color: #666565;
    font-size: 15px;
}



.form-book-now {
    width: 100%;
    background-color: #FEA116;
    font-size: 16px;
    padding: 15px;
    border: #FEA116;
    border-radius: 2px;
    color: #e7e7e7;
    cursor: pointer;
    font-weight: bold;
}


/* form section khatam */

.chef-profiles {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.chef-profiles h6 {
    font-size: 25px;
    color: #FEA116;
    font-family: 'pacifico';
    text-decoration: underline;
    /* margin: 5px 0; */
}

.chef-profiles h1 {
    font-size: 40px;
    color: #0F172B;
    margin-bottom: 40px;
}

.chef-cards {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: 40px;

}

.chef-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 21%;
    padding: 25px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 8%);
    height: auto;
}

.chef-img {
    width: 90%;
    /* border: 10px solid white; */
    /* background-color: white; */
    border-radius: 50%;
    /* margin: auto; */
}

.chef-img img {
    width: 100%;
    border-radius: 50%;
    /* padding: 20px; */
}

.chef-card h2 {
    margin: 4px 0;
    font-size: 20px;
    color: #0F172B;
    padding: 5px 0;
}

.chef-card h4 {
    /* margin-bottom: 10px ; */
    font-size: 14px;
    color: #666565;
    /* padding: 5px 0; */
}

.chef-card:hover {

    transform: translateY(1.3);

}



/* chef profile section khatam */

/* review section */

.review-section {
    /* width: 100%; */
    margin: 60px 10px;
    margin-top: 90px;
}

.review-section h6 {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 25px;
    text-decoration: underline;
    color: #FEA116;
}

.review-section h1 {
    text-align: center;
    font-size: 40px;
    color: #0F172B;
    font-weight: bolder;
    margin: 10px 0;
}

.review-boxes-container {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.review-box {
    width: 27%;
    padding: 20px;
    border: 1px solid #dee2e6;
    transition: 0.5s;
}

.fa-quote-left {
    font-size: 40px;
}

.review-box p {
    text-align: left;
    margin: 10px 0;
    color: #666565;
}

.client {
    width: 100%;
    display: flex;

}

.client-img {
    width: 20%;
    background-color: white;


}

.client-img>img {
    width: 100%;
    /* display: inline; */
    border-radius: 50%;
}


.client .client-detail {
    width: 80%;
    padding: 6px 20px;
    /* display: inline; */
}

.client-detail h2 {
    font-size: 20px;
    color: #0F172B;
}

.client-detail h6 {
    font-size: 14px;
    color: #666565;
    text-decoration: none;
    display: inline;
}

.review-box:hover {
    background-color: white;
    transform: scale(1.1);
    transition: 0.5s;
    z-index: 2;
}



.dots {
    display: flex;
    width: 100%;
    margin: 5px 0;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.dot {
    width: 12px;
    height: 12px;
    border: 1px solid #666565;
    border-radius: 50%;
}

.active-dot {
    background-color: #FEA116;
    border: transparent;
}

/* /* review section end */


/* Footer */

.footer {
    background-color: #0F172B;
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    /* gap: 30px; */
}

.footer-sections{
    margin-top: 60px;
    width: 22%;
    padding: 10px 40px;
    /* background-color: #dee2e6; */
}

.footer-sections a{
    color: white;
    font-size: 15px;
    
    line-height: 30px;
    font-weight: normal;
}

#main,.footer-sections:not(.opening)> h2{
    font-size: 25px;
    font-weight: normal;
    color: #FEA116;
    font-family: 'pacifico';
    text-decoration: underline;
    margin-bottom: 20px;
}

.company{
    display: flex;
    flex-direction: column;
}

.contact{
    padding: 20px 30px;
}

.contact a{
    display: block;
}

.contact .fa{
    padding-right: 10px;
    color: white;
} 

.social-handles{
    /* width: 100%; */
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
}

a#address{
    font-size: 14px;
}

.icon-box{
    /* background-color: white; */
    border: 1px solid white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    cursor: pointer;

}

.icon-box:hover{
    background-color: #FEA116;
    transition: 0.3s;
}

.fab{
    color: white;
}

.newsletter{
    padding: 20px 25px;
}

.opening h2:not(#main) {
    font-size: 20px;
    color: white;
}
.opening h4:not(#main) {
    font-size: 15px;
    color: white;
    margin-bottom: 10px;
}

.newsletter p{
    color: white;
    font-size: 15px;
}

.sign-up{
    width: 100%;
    display: flex;
    margin-top: 20px;
    border: 1px solid #FEA116;
    background-color: white;
    border-radius: 2px;
}

.sign-up input{
    height: 50px;
    width: 55%;
    display: inline;
    border: transparent;
    padding: 6px;
}
.sign-up button{
    width: 45%;
    display: inline;
    border: transparent;
    font-size: 14px;
    color: white;
    margin: 6px;
    background-color: #FEA116;
    border-radius: 3px;
}

.sign-up input::placeholder{
    text-align: center;
    color: #666565;
    font-size: 15px;
}

/* .line-break{
    width: 90%;
    height: 2px;
    color: #666565;
    margin: 50px auto;
} */


.copyright{
    width: 100%;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #666565;
    background-color: #0F172B;
    /* border; */
}

.copyright p{
    color: white;
}

.foot-menu{
    display: flex;
    

}
.foot-menu a{
    color: white;
    padding: 0px 15px;
    border-right: 1px solid #666565;

}



